<div ng-show="init && !initResources">
    <div ng-switch="viewMode">
        <div ng-switch-when="culturelist">

            <h3>Available Cultures</h3>
            <div ng-show="init && cultures.length > 0">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Culture</th>
                        </tr>
                    </thead>
                    <tbody ng-repeat="culture in cultures">
                        <tr style="vertical-align: central">
                            <td><a href="#" ng-click="selectCulture(culture)">select</a></td>
                            <td>{{ culture }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="init && cultures.length == 0">
                <h2>There are no available cultures.</h2>
            </div>
            <div>
                <a class="btn btn-primary btn-large" href="#" ng-click="">Create New Culture</a>
            </div>
        </div>
        <div ng-switch-when="success">
            <h3>
                Culture has been updated!
                <br />
            </h3>
        </div>
    </div>
</div>
<div ng-show="initResources" class="form-horizontal">
    <h3>Update Resources</h3>
    <br/>
    <div>
        <a class="btn btn-primary btn-large" href="#" ng-click="cancelForm()">Previous</a>
    </div>
    <br />
    <div ng-show="initResources && cultureKeys.length > 0">
        <form name="userForm" novalidate>

            <fieldset ng-repeat="cultureKey in cultureKeys">
                <ng-form name="userFieldForm">
                    <p class="input-group" style="width: 400px;">
                        <span class="input-group-addon" style="width: 140px; text-align: left;">{{ cultureKey.Name }}:</span>
                        <input type="text" ng-model="cultureKey.Value" class="form-control"/>
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="submitResource(cultureKey)"><i class="glyphicon glyphicon-check"></i></button>
                        </span>
                    </p>
                    <br />
                </ng-form>
            </fieldset>
        </form>
    </div>
    <div>
        <a class="btn btn-primary btn-large" href="#" ng-click="cancelForm()">Previous</a>
    </div>
</div>